.row {
  display: flex;
}

.header {
  width: 90%;
  margin: auto;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkgray;
  font-family: Avenir, sans-serif;
}

.column-full {
  width: 100%;
}

.column-one-half {
  width: 50%;
}

.page-title {
  font-family: "Tiempos Headline", serif;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 400;
  color: #0b4265;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.contact-button {
  padding: 10px;
  background-color: #294464;
  color: white;
  border-radius: 5px;
  border: none;
  font-family: Avenir, sans-serif;
}

hr {
  height: 1px;
  background-color: darkgray;
  border: none;
}

.about {
  background-image: url("images/hero.jpg");
  background-size: cover;
  width: 90%;
  margin: 50px auto;
}

.about-text {
  margin: 50px;
  line-height: 2rem;
  color: white;
}

.about-text > * {
  font-weight: 300;
  font-family: "Tiempos Headline", serif;
}

.get-started-button {
  background-color: #294464;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.locations {
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
  font-family: "Tiempos Headline", serif;
  padding-bottom: 100px;
}

.locations h2 {
  font-weight: 300;
  margin-top: 50px;
}

.locations p {
  width: 40%;
  margin: 0 auto 75px;
}

.locations-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.locations-list li {
  flex-basis: 50%;
  padding-bottom: 25px;
  font-size: 18px;
}

.learn-more {
  font-family: "Tiempos Headline", serif;
  flex-direction: column;
  position: relative;
}

.learn-more div {
  position: relative;
  left: 50px;
  top: 20px;
}

.learn-more h2 {
  font-weight: 300;
}

.learn-more p {
  font-size: 14px;
}

.learn-more button {
  position: absolute;
  right: 100px;
  top: 50%;
}
