.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-one-quarter {
  width: 25%;
}

.column-two-quarters {
  width: 50%;
}

.column-full,
img {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-two-thirds {
  width: calc(200% / 3);
}
