.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-one-quarter {
  width: 25%;
}

.column-two-quarters {
  width: 50%;
}

.column-three-quarters {
  width: 75%;
}

.column-full,
img {
  width: 100%;
}
