button {
  font-size: 20px;
  padding: 10px 20px;
}

button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(2n - 1) {
  background-color: lightgray;
}
